<div class="span13 well show-well">
    <div class="title"><h3>{{strings.accountSummary}}</h3></div>
    <div class="table-outer">
        <table class="table">
            <tr>
                <td>{{strings.currentBalance}}</td>
                <td class="gray-background">{{account.balance + account.totalMarketValue | currency}}</td>
            </tr>
            <tr>
                <td>{{strings.openingBalance}}</td>
                <td class="gray-background">{{account.openbalance | currency}}</td>
            </tr>
            <tr>
                <td>{{strings.cashBalance}}</td>
                <td class="gray-background">{{account.balance | currency}}</td>
            </tr>
            <tr>
                <td>{{strings.holdingsTotal}}</td>
                <td class="gray-background">{{totalMarketValue | currency}}</td>
            </tr>
            <tr class="summary">
                <td>{{strings.currentGainLoss}}</td>
                <td class="average">{{gain | currency}}</td>
            </tr>
        </table>
    </div>
</div>
