<div class="row clearfix">
        <div class="span8 columns">
            <form class="form-horizontal">
                <fieldset>
                    <h3>{{strings.login}}<span>{{strings.enterUsername}}</span></h3>
                    <div id="login-error" class="span8 alert alert-block alert-error fade in" style="display:none;">
                        <a data-dismiss="alert" class="close">x</a>
                        <h4 class="alert-heading">{{string.ohSnap}}</h4>
                        <p></p>
                    </div>
                    <div class="row">
                        <div class="span4">
                            <div id="login-control" class="control-group">
                                <label for="username-input" class="control-label">{{strings.username}}:</label>
                                <div class="controls">
                                    <input type="text" value="" id="username-input" class="span4 focused" tabindex="1">
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div id="password-control" class="password control-group">
                                <label for="password-input" class="control-label">{{strings.password}}:</label>
                                <div class="controls"><input type="password" id="password-input" class="span4 focused" tabindex="2" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-actions offset4 span4">
                            <button id="loginBtn" class="btn green-btn">{{strings.login}}</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="span2 offset1 columns sidebar">
            <h3>{{strings.registration}}</h3>
            <p>{{strings.dontHaveAccount}}</p>
            <p><a id="showRegistrationBtn">{{strings.createOneNow}}</a></p>
        </div>
    </div>
</div>
