<div class="row clearfix">
    <div class="span8 columns">
        <form class="form-horizontal" ng-submit="logMeIn()">
            <fieldset>
                <h3>{{strings.login}}<span>{{strings.enterUsername}}</span></h3>
                <div id="login-error" class="span8 alert alert-block alert-error fade in" ng-show="loginError">
                    <a data-dismiss="alert" class="close">x</a>
                    <h4 class="alert-heading">{{strings.errorOcurred}}</h4>
                    <p>{{loginError}}</p>
                </div>
                <div class="row">
                    <div class="span4">
                        <div id="login-control" class="control-group">
                            <label for="username-input" class="control-label">{{strings.username}}:</label>
                            <div class="controls">
                                <input value="" id="username-input" class="span4 focused" tabindex="1" ng-model="username" />
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div id="password-control" class="password control-group">
                            <label for="password-input" class="control-label">{{strings.password}}:</label>
                            <div class="controls">
                                <input type="password" id="password-input" class="span4 focused" tabindex="2" ng-model="password"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-actions offset4 span4">
                        <input type="submit" class="btn green-btn" name={{strings.login}} />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span2 offset1 columns sidebar">
        <h3>{{strings.registration}}</h3>
        <p>{{strings.dontHaveAccount}}</p>
        <p><a id="showRegistrationBtn">{{strings.createOneNow}}</a></p>
    </div>
</div>
