<div class="row show-table">
    <div class="span4">
        <table class="table">
            <tr>
                <th colspan="3"><span class="icon-custom icon-gains"></span>Day's Gains</th>
            </tr>
            <tr class="caps">
                <td id="ms-tg-sym-{{i}}" title="" ng-repeat="i in marketSummary.topGainers">{{i.symbol}}</td>
            </tr>
            <tr>
                <td id="ms-tg-price-{{i}}" title="" ng-repeat="i in marketSummary.topGainers">{{i.price}}</td>
            </tr>
            <tr>
                <td id="ms-tg-change-{{i}}" title="" ng-repeat="i in marketSummary.topGainers">{{i.change1}}
                    <span>&uarr;</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="span4 center-table">
        <table class="table">
            <tr>
                <th colspan="2"><div class="logo-table" title="nanotrader"/></th>
            </tr>
            <tr>
                <td>Index:</td>
                <td id="ms-index">{{marketSummary.tradeStockIndexAverage}}</td>
            </tr>
            <tr>
                <td>Volume:</td>
                <td id="ms-volume">{{marketSummary.tradeStockIndexVolume}}</td>
            </tr>
            <tr>
                <td>Change:</td>
                <td>
                    <span id="ms-change">{{marketSummary.percentGain}}</span><span id="ms-change-arrow"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="span4">
        <table class="table">
            <tr>
                <th colspan="3"><span class="icon-custom icon-lost"></span>Day's Losses</th>
            </tr>
            <tr class="caps">
                <td id="ms-tl-sym-{{i}}" title="" ng-repeat="i in marketSummary.topLosers">{{i.symbol}}</td>
            </tr>
            <tr>
                <td id="ms-tl-price-{{i}}" title="" ng-repeat="i in marketSummary.topLosers">{{i.price}}</td>
            </tr>
            <tr>
                <td id="ms-tl-change-{{i}}" title="" ng-repeat="i in marketSummary.topLosers">{{i.change1}}
                    <span>&darr;</span>
                </td>
            </tr>
        </table>
    </div>
</div>