<div class="span14">    
    <!-- toggle -->
    <div id="toggle-orders-control" class="show-transactions">
        <a class="accordion-toggle" ng-click="showOrders = !showOrders" ng-init="showOrders=true;">{{strings.recentTransactions}}</a>
        <span class="border-bg"></span>
    </div>
    <!-- toggle -->
    <div id="orders-control" class="well show-well" ng-show="showOrders">
        <div class="title"><h3>{{strings.recentTransactions}}</h3></div>
        <table id="list-of-orders" class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>{{strings.orderId}}</th>
                    <th>{{strings.orderStatus}}</th>
                    <th>{{strings.creationDate}}</th>
                    <th>{{strings.completionDate}}</th>
                    <th>{{strings.transactionFee}}</th>
                    <th>{{strings.transactionType}}</th>
                    <th>{{strings.symbol}}</th>
                    <th>{{strings.quantity}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ordr in orders.results">
                    <td>{{ordr.orderid}}</td>
                    <td><span class="{{ordr.orderstatus | lowercase}}">{{ordr.orderstatus}}</span></td>
                    <td>{{ordr.opendate}}</td>
                    <td>{{ordr.completiondate}}</td>
                    <td>{{ordr.orderfee}}</td>
                    <td>{{ordr.ordertype}}</td>
                    <td>{{ordr.quote.symbol}}</td>
                    <td>{{ordr.quantity}}</td>
                </tr>
            </tbody>
        </table>
        <div id="no-orders"></div>
    </div>
    <div class="pagination-container"/>
</div>